.App {
  text-align: center;
}

input {
  font-size: 36px;
  border: 1;
  border-radius: 5px;
  padding: 10px 20px;
  margin-bottom: 18px;
}

button {
  font-size: 36px;
  padding: 10px 20px;
  border: 0;
  border-radius: 5px;
}
